
@{
    ViewBag.Title = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">User List</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success btn-sm" type="button" onclick="abrirModal(null)">Create new</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Nro Document</th>
                                <th>PersonName</th>
                                <th>LastName</th>
                                <th>Mail</th>
                                <th>Type</th>
                                <th>State_text</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Nro Document</th>
                                <th>PersonName</th>
                                <th>LastName</th>
                                <th>Mail</th>
                                <th>Type</th>
                                <th>State_text</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Nro Document:</label>
                                <input type="text" class="form-control required" id="txtdocument" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">PersonName:</label>
                                <input type="text" class="form-control required" id="txtpersonname" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">LastName:</label>
                                <input type="text" class="form-control required" id="txtlastname" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Mail:</label>
                                <input type="text" class="form-control required" id="txtmail" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Code:</label>
                                <input type="password" class="form-control required" id="txtcode" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cbotype">Type:</label>
                                <select id="cbotype" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cboState">State_text:</label>
                                <select id="cboState" class="form-control">
                                    <option value="1">Active</option>
                                    <option value="0">No Active</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>
        var tabledata;

        $(document).ready(function () {

            jQuery.ajax({
                url: '@Url.Action("ListTypePerson", "Start")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        if(value.Description_text != "Customer")
                            $("<option>").attr({ "value": value.PersonTypeId }).text(value.Description_text).appendTo("#cbotype");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            tabledata = $('#table').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListPerson", "Start")',
                    "type": "GET",
                    "datatype": "json",
                    "dataSrc": function (json) {

                        return json.data.filter(function (item) {
                            return item.oPersonType.PersonTypeId != 3;
                        });
                    }
                },
                "columns": [
                    { "data": "Document" },
                    { "data": "PersonName" },
                    { "data": "LastName" },
                    { "data": "Mail" },
                    {
                        "data": "oPersonType", "render": function (data) {
                            return data.Description_text
                        }
                    },
                    {
                        "data": "State_text", "render": function (data) {
                            if (data) {
                                return '<span class="badge badge-success p-2">Active</span>'
                            } else {
                                return '<span class="badge badge-danger p-2">No Active</span>'
                            }
                        }
                    },
                    {
                        "data": "PersonId", "render": function (data, type, row, meta) {

                            return $("<button>").addClass("btn btn-primary btn-edit btn-sm").append(
                                $("<i>").addClass("fas fa-pen")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML
                            +
                            $("<button>").addClass("btn btn-danger btn-delete btn-sm ml-2").append(
                                $("<i>").addClass("fas fa-trash")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ],
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/English.json"
                }
            });
        });



        $(document).on('click', '.btn-edit', function (event) {
            var json = $(this).data("informacion")

            abrirModal(json)
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtdocument").val("");
            $("#txtpersonname").val("");
            $("#txtlastname").val("");
            $("#txtmail").val("");
            $("#txtcode").val("");
            $("#cbotype").val(1);
            $("#cboState").val(1);

            if (json != null) {

                $("#txtid").val(json.PersonId);
                $("#txtdocument").val(json.Document);
                $("#txtpersonname").val(json.PersonName);
                $("#txtlastname").val(json.LastName);
                $("#txtmail").val(json.Mail);
                $("#txtcode").val(json.Code);
                $("#cbotype").val(json.oPersonType.PersonTypeId);
                $("#cboState").val(json.State_text == true ? 1 : 0);
            }

            $('#FormModal').modal('show');
        }

        $(document).on('click', '.btn-delete', function (event) {
            var json = $(this).data("informacion")

            jQuery.ajax({
                url: '@Url.Action("DeletePerson", "Start")',
                type: "POST",
                data: JSON.stringify({ id: json.PersonId}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.result) {
                        tabledata.ajax.reload();
                    } else {
                        alert("Could not delete")
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });
        });

        function Save() {
            var request = {
                obj: {
                    PersonId: $("#txtid").val(),
                    DocumentType: "",
                    Document: $("#txtdocument").val(),
                    PersonName: $("#txtpersonname").val(),
                    LastName: $("#txtlastname").val(),
                    Mail: $("#txtmail").val(),
                    Code: $("#txtcode").val(),
                    oPersonType: { PersonTypeId : $("#cbotype option:selected").val() },
                    State_text: parseInt($("#cboState").val()) == 1 ? true : false
                }
            }

            jQuery.ajax({
                url: '@Url.Action("SavePerson", "Start")',
                type: "POST",
                data: JSON.stringify(request),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.result) {
                        tabledata.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("Could not save changes");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        }

    </script>

}


